$mainCollor: #15023a;

$lettreCollor: #dd01ce;

$gradientCollor: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(58, 10, 70, 1) 35%,
  rgba(47, 1, 45, 1) 100%
);

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}){
    @content
  }
} 